<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Travel App</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="logo_and_name">
                <a class="logo" href="#"></a>
                <p class="logo_name">Travel</p>
            </div>
            <div class="links">
                <p>Home</p>
                <p>My Trips</p>
                <p>About</p>
            </div>
        </header>

        <main>
            <div class="backgr">
                <section class="form_section">
                    <h1>Explore new places with us</h1>
                    <form>
                        <div>
                            <label for="curr_place">Current City</label>
                            <input type="text" name="curr_place" id="curr_place">
                        </div>
                        <div>
                            <label for="destination">Destination City</label>
                            <input type="text" name="destination" id="destination">
                        </div>
                        <div>
                            <label for="date_from">Departure Date</label>
                            <input type="date" name="phone" id="date_from">
                        </div>
                        <div>
                            <label for="date_return">Returning Date</label>
                            <input type="date" name="date_return" id="date_return">
                        </div>
                        <div class="full_form">
                            <a href="#" class="btn" id="submit">Send</a>
                        </div>
                    </form>
                </section>
            </div>
            <h2>Check 0ur Top Destinations</h2>
            <div class="recommends_wrap">
                <div class="rec_card card_first">
                    <div class="pic_cont"></div>
                    <p>New York</p>
                </div>
                <div class="rec_card card_sec">
                    <div class="pic_cont"></div>
                    <p>San Francisco</p>
                </div>
                <div class="rec_card card_third">
                    <div class="pic_cont"></div>
                    <p>Las Vegas</p>
                </div>
                <div class="rec_card card_fourth">
                    <div class="pic_cont"></div>
                    <p>Boston</p>
                </div>
            </div>

            <div class="dyn_cont">
                <h2>My Trips</h2>
                <div class="out_cont">
                    <div class="dyn_pic"></div>
                    <div class="dyn_info">
                        <div class="dyn_city">Boston</div>
                        <div class="dyn_starting">Your 10 days trip to Boston will start in 10 days !</div>
                        <div class="dyn_dates">Dates: 10.10.2020 - 10.20.2020</div>
                        <div class="dyn_weather">Weather Forecast: 15deg</div>
                        <div class="dyn_but">
                            <a class="dyn_save" href="#"></a>
                            <a class="dyn_del" href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <p>Leo Dediu &copy; 2020</p>
        </footer>
    </div>
</body>
</html>