.logo {
  display: block;
  width: 3rem;
  height: 3rem;
  margin: 0 5px;
  background-image: url("../media/plane_logo.svg");
  background-size: contain;
  background-position: center center;
  color: white;
}

h2 {
  margin-top: 3rem;
  text-align: center;
  color: #00416d;
  font-size: 1.5rem;
  text-transform: uppercase;
}