.dyn_cont {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
}

.out_cont {
  max-width: 100%;
  padding: 2rem;
  margin-top: 1rem;
  box-shadow: 2px 2px 5px black;
  background: white;
  position: relative;
}

.dyn_pic {
  height: 20rem;
  width: 100%;
}

.dyn_pic img {
  border-radius: 5px;
}

.dyn_info {
  margin-top: 0.2rem;
  text-align: center;
  color: #333;
  div {
    margin-bottom: 0.5rem;
  }
}

.dyn_general_name {
  padding-bottom: 1rem;
}

.dyn_city, .dyn_country {
  font-weight: bold;
  font-size: 1.5rem;
}

.dyn_flag {
  display: inline-block;
  height: 1.5rem;
  width: 3rem;
  border: 1px solid #222222;
  //background: url("https://restcountries.eu/data/usa.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.dyn_about {
  font-size: 1.1rem;
  padding: 1rem 0 0.5rem 0;
}

.dyn_starting {
  padding-top: 1rem;
  text-decoration: underline;
  font-weight: bolder;
}
.dyn_dates {
  padding-bottom: 2rem;
  font-weight: bolder;
}

.dyn_but {
  position: absolute;
  right: 0.5rem;
  bottom: 0;

  .dyn_save {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    background-image: url("../media/savee.svg");
    background-size: contain;
    background-position: center center;
  }
  .dyn_del {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    background-image: url("../media/deletee.svg");
    background-size: contain;
    background-position: center center;
  }
}

